/*GLOBAL*/
$pink: #FA617B;
$dark-blue: #2F4056;
$mid-blue: #4D798F;
$light-blue: #00B8B3;
$white: #EDE9E5;
$black: #333333;
$lato: 'Lato', sans-serif;
@import 'media-queries';

body{
    background: $white;
    overflow-x: hidden;
}
h2{
    font-family: $lato;
    font-weight: 700;
    font-size: 24pt;

    @include respond-to($phone){
        font-size: 18pt;
    }
}
.sub-title-white{
    color: $white;

    @include respond-to($phone){
        position: relative;
        right: 2.2;
    }
}
.sub-title-black{
    color: $black; 

    @include respond-to($phone){
        position: relative;
        right: 2.2;
    }
}
/*TOP VAR*/
.container-fluid{
    margin: 0%;
    padding: 0%;
}
.top-var{
    width: 100%; 
    background: $dark-blue; 
    color: $white;
    font-family: $lato;
    font-weight: 700;
    position: fixed;
    z-index: 99999;

    @include respond-to($phone){
        width: 23.8em;
        height: 5em;
        position: fixed;
    }
}

.top-nav{
    padding: 1.5em 0em 1.5em 0em;
    margin: 0%;
    float: right;
    position: relative;
    right: 25em;
}
.top-nav-item{
    padding: 0.6em 1em;
    margin: 0%;
    display: inline-block;

    @include respond-to($phone){
        display: none;
    }
}
.logo{
    margin: 1.5em;

    @include respond-to($phone) {
        display: none;
    }
}
.mobileLogo{

    display: none;

    @include respond-to($phone) {
        display: initial;
        width: 25px;
        height: 32px;
        margin-top: 1.5em;
        margin-left: 1.5em;
    }
}
.bell{
    margin: 1em;
    position:relative;
    left: 47em; 
    
    @include respond-to($phone) {
        display: none;
    }
}
.user{
    margin: 1em;
    position:relative;
    left: 47em;

    @include respond-to($phone) {
        display: none;
    }
}
.bell:hover{
    cursor: pointer;

} 
.user:hover{
    cursor: pointer;
}
.pink-Square-item:hover{
    border: solid $pink;
    padding: 0.5em;
    cursor: pointer;
    color: $white;
}
.link-nav{
    text-decoration: none;
    color: $white;
    font-family: $lato;
    font-size: 400;
    font-size: 14pt;
}
/*menuHamburguesa*/

.hambuerguesa{
z-index: 9999999;
position: relative;
vertical-align: top;
cursor: pointer;
width: 30px;
height: 30px;
margin-top: 1.5em;
margin-left: 1.5em;
bottom: 5.5em;
display: none;

@include respond-to($phone){
    position: relative;
    left: 2.5em;
    margin-top: 3.5em;
    display: initial;
}
}

.cont-menu{
    background-color: rgba(47, 64, 86, 85%);
    box-shadow: rgb(66, 66, 66);
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s ease;
    z-index: 3333333;
}
.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}
.cont-menu ul li{
    color: $white;
    display: block;
    font-size: 25px;
    font-family: $lato;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
}
.cont-menu ul li:hover{
background-color: $mid-blue;
}
#Menu{
    text-decoration: none;
    color: $white;
}

/*para JS*/
.active{
    transform: translate(-600px)
}
.opacity{
    background-color: rgba(0, 0,0, 0.5);
    transition: all .5s ease;
}
/*para JS*/
/*menuHamburguesa*/


/*TOP VAR*/
/*GLOBAL*/

/*HOME PAGE*/
/*COVER PAGE*/
.cover-page-img{
background: url(../img/portada.png);
text-align: center;
color: $white;
padding: 6em 1em 6.5em 0em;

@include respond-to($phone){
    height: 35em;
    width: 23.5em;
}
}
.cover-text1{
    font-family: $lato ;
    font-weight: 300  ;
    font-size: 24pt;
    line-height: 2em;
    margin-top: 2em;

    @include respond-to($phone) {
    line-height: 2em;
    margin-top: 1.5em;
    font-size: 15pt;
    }
}
.cover-text2{
    font-family: $lato;
    font-weight: 700 ;
    font-size: 29pt;

    @include respond-to($phone){
        margin-top: 0.5em;
        font-size: 18pt;
    }
}
.searcher{
    color: $dark-blue;
    border-radius: 10px;
    border: none;
    margin-top: 5em;
    width: 50%;
    padding: 0.5em;
    font-family: $lato ;
    font-weight: 400;
    outline: none;
    opacity: 60%;
    z-index: 0;

    @include respond-to($phone) {
        padding: 0.1em;
        width: 90%;
        margin-top: 2em;
        font-size: 18pt;
    }
}
.lupa{
    position: relative;
    left: 40.5em;
    z-index: 1;

    @include respond-to($phone){
        display: none;
    }
}
.lupa:hover{
cursor: pointer;
}
/*COVER PAGE*/

/*COMING SOON*/
.coming-section{
padding: 3em 0em 0em 4em;

@include respond-to($phone){
    padding: 3em 0em 0em 0.7em;

}

}
.bold-img{
    color: $black;
    font-family: $lato;
    font-weight: 700;
}
.img-padding{
    padding: 1em 4.3em; 
    
    @include respond-to($phone){
        position: relative;
        right: 6em;
    }
}
.img-size{
    width: 208px; height: 208px;
    padding: 0%;
    cursor: pointer;
    margin: 0em 1.6em 1em 0em;

    @include respond-to($phone){
        width: 323px; height: 323px;
    }
}

.mayor-edad{
    position: relative;
    z-index: 5;
    margin: 0%;
    padding: 0%;
    bottom: 12em;
    left: 8.5em;
    cursor: pointer;

    @include respond-to($phone){
        width: 88px; height: 88px;
        position: relative;
        bottom: 17.5em;
        left: 13.5em;
    }
}
/*COMING SOON*/

/* RECENT EVENTS*/
.recent-events-section{
    background: $mid-blue;
    padding: 3em 0em 3em 4em;

    @include respond-to($phone){
        padding: 3em 0em 3em 0.7em;
        width: 24.2em;
    }
}
.recent-events-txt{
    color:$white;
    font-family: $lato;
    font-weight: 400;
    font-size: 16pt;
    padding: 1em 0em 1em 0em;
}
.btn-see-more{
    padding: 0.5em 3em;
    background: $pink;
    border: none;
    color: $white;
    font-family: $lato;
    font-weight: 700;
    font-size: 14pt;
    text-decoration: none;

    @include respond-to($phone){
        position: relative;
        top: 11em;
    }
}
.btn-see-more:hover{
    color: $white;
}
.video{
position: relative;
left: 4.5em;
bottom: 4em;

@include respond-to($phone){
    position: relative;
    left: 0em;
}
}
/*RECENT EVENTS*/

/*STAY TUNE*/
.stay-tune-section{
    background: url(../img/redes.png);
    padding: 3em 0em 5.8em 4em;

    @include respond-to($phone){
        padding: 3em 0em 2em 0.7em;
        width: 24.2em;
    }
}
.stay-tune-txt{
    color:$white;
    font-family: $lato;
    font-weight: 400;
    font-size: 16pt;
}
.stay-tune-txt-position{
    position: relative;
    top: 3em;

    @include respond-to($phone){
        position: relative;
        top: 0em;
    }
}
.stay-tune-icons-position{
    margin-left: 20em;

    @include respond-to($phone){
        margin-left: 1em;
    }
}
.stay-tune-icons{
margin: 5em 7em 0em 0em;

@include respond-to($phone){
    margin: 2em 1.8em 0em 0em; 
    width: 31px; height: 28px;
}
}
/*STAY TUNE*/

/*SHARE*/
.share-section{
    padding: 3em 0em 2em 4em;

    @include respond-to($phone){
        padding: 3em 0em 2em 0.7em;

    }
}
.share-text{
    color: $black;
    font-family: $lato;
    font-weight: 300;
    font-size: 16pt;
    margin-top: 2em;
    line-height: 2em;
}
.share-text-author{
    color: $light-blue;
    font-family: $lato;
    font-weight: 700;
    font-size: 12pt;
    margin-top: 1em;
}
/*SHARE*/

/*CONTACT*/
.contact-section{
    background: url(../img/contact.png);
    padding: 3em 0em 0em 4em;
    width: 1510px; height: 600px; 

    @include respond-to($phone){
        padding: 3em 0em 0em 0.7em;
        width: 24.2em; height: 600px;
    }
    }
.labels{
    color: $white;
    font-family: $lato;
    font-size: 12px;
    margin-top: 1em;
}
.contact-text{
    color: $white;
    font-size: 13px;
    font-family: $lato;
    position: relative;
    top: 5em;

    @include respond-to($phone){
        position: relative;
        top: 0.5em;
    }
}
.text-field{
    width: 75%;
    margin-left: 1em;
    opacity: 50%;
    color: $black;
    font-size: 14px;
    font-family: $lato;
    border: none;
    outline: none;

    @include respond-to($phone){
        font-size: 14pt;
    }
}
.message-txtField{
    margin: 0em 0em 3em 1em;
    opacity: 50%;
    color: $black;
    font-size: 14px;
    font-family: $lato;
    border: none;
    outline: none;

    @include respond-to($phone){
        height: 6em;
        font-size: 14pt;
    }
}
.btn-message{
    padding: 0.5em 3em;
    background: $pink;
    border: none;
    color: $white;
    font-family: $lato;
    font-weight: 700;
    font-size: 14pt;
    text-decoration: none;
    width: 20%;
    margin-left: 0.8em;

    @include respond-to($phone){
        width: 70%;
    }
}
.btn-message:hover{
    color: $white;
}
/*CONTACT*/

/*FOOTER*/
.footer{
    background: $dark-blue;
    color: $white;
    font-size: 12px;
    font-family:$lato;
    font-weight: 700;
    padding: 3em 0em 3em 5.5em;

    @include respond-to($phone){
        padding: 3em 0em 3em 1em;
        width: 32.3em;
    }
}
.bottom-nav-item{
    padding: 0em;
    margin: 0%;
    display: inline-block;
}
.bottom-nav-link{
    text-decoration: none;
    font-family: $lato;
    font-size: 14px;
    color: $white;
    font-weight: 700;
}
.bottom-nav-link:hover{
    color: $white;
}
.margin-bottom{
    margin: 0em 0em 0em 1em;
    padding: 0em;
    position: relative;
    right: 1em;
}
.bottom-simbol{
    margin: 0em 1em 0em 1em;
}
/*FOOTER*/